#qrcode-wrapper {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 2147483647;
    width: 200px;
    height: 230px;
    margin-top: -100px;
    margin-left: -115px;
    background-color: #eee;
    border: 1px solid #e8e8e8;
    border-radius: 6px;
    font-size: 12px;
}
.qrcode-title {
    color: #fff;
    background-color: #52a0e8;
    padding: 10px 15px;
    margin-bottom: 5px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.qrcode-close {
    float: right;
    cursor: pointer;
}
.qrcode-content {
    width: 160px;
    height: 160px;
    margin-left: auto;
    margin-right: auto;
}
.qrcode-footer {
    margin-top: 5px;
    text-align: center;
}
.qrcode-footer a {
    color: #036;
}
